.cmb-row{ 
 label.error {  
    color: red;
    font-size: .75em;
    font-style: italic;
    margin-left: 1em;
  }
  .error {
    border-color: red;
  }

  .cmb-row {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &.closed {
      padding-bottom: 0;
    }
  }
  .cmb-repeatable-grouping {
    padding-top: 0;
  }
  .cmb-th {
    text-align: right;
  }
  .cmb2-metabox-description {
    color: #666;
  }
  .cmb2-upload-button {
    float: none;
  }
  .regular-text {
    width: 500px; //to match textarea
  }
}