Registers a custom post type named "Team Member". This CPT should support title, content, and featured image.

cpt- "Team Member"
supports  title, content, and featured image.
custom taxonomy - "Department"

This taxonomy should be for the "Team Member" CPT only.

custom meta fields 
Position, 
Twitter URL
Facebook URL.

sanitize values before storing in database

escape these values before output on front-end 

Custom template 3X4 rows

JS show/hide toggle behavior for description.

Display the posts, sorted alphabetically.

Name (post title)
Photo (featured image)
Position (post meta)
Twitter link (custom post meta)
Facebook link (custom post meta)
Bio (post content)

internationalize text strings